
{% extends 'gestion_fichas/base.html' %}

{% load static %}
{% load myfilters %}
{% block title %}

Inspección casco de seguridad

{% endblock %}
{% block css_style %}

    <!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <link href="{% static 'gestion_fichas/css/agregar_ficha_inspeccion.css' %}" rel="stylesheet">

     

{% endblock %}
{% block content_main%}


<div class="content-main">
            <h1>Adicionar la ficha de inspección de casco de seguridad</h1>
            
            <div class="line"></div>
            

            <!--PEN CONTENT     -->
            <div class="content">
            <!--content inner-->
            <div class="content__inner">
                <div class="container">
                <!--content title-->
                <h4 class="text-center">Formulario para la ficha de inspección</h4>
                {% comment %} <h3 class="content__title content__title--m-sm">Formulario para la ficha de inspección</h3> {% endcomment %}
                <!--animations form-->
                
                <!--content title-->
                <h6 class="content__title">Presione "Siguiente" para avanzar o "Anterior" para retroceder</h6>
                </div>
                <div class="container overflow-hidden">
                <!--multisteps-form-->
                <div class="multisteps-form">
                    <!--progress bar-->
                    <div class="row">
                    <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
                        <div class="multisteps-form__progress">
                        <button class="multisteps-form__progress-btn js-active" type="button" title="User Info">Ficha Info</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Casquete">Casquete</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Suspencion">Suspencion</button>
                        <button class="multisteps-form__progress-btn" type="button" title="Barbuquejo">Barbuquejo</button>
                        
                        </div>
                    </div>
                    </div>
                    <!--form panels-->
                    <div class="row">
                        <div class="col-12 col-lg-8 m-auto">
                            <form method="POST" enctype="multipart/form-data" class="multisteps-form__form" >
                            {% csrf_token %} 
                            <!--single form panel-->
                                <div class="multisteps-form__panel shadow p-5 rounded bg-white js-active" data-animation="fadeIn">
                                    <h3 class="multisteps-form__title">Información de la Ficha</h3>
                                    <div class="multisteps-form__content">
                                    <div class="form-row mt-4 d-flex justify-content-center">
                                        <div class="d-flex justify-content-center " style="width:600px;height: 300px;">
                                        <div class="card text-justify" >
                                            <img class="card-img-center border-black " style="height: 70px;width:50px;" src="{{ MEDIA_URL }}{{inspectores.foto_inspector}}" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">Inspector {{request.user.get_full_name|title}}</h5>
                                                <div class="form-row mt-4">
                                                    <div class="col-12 col-sm-4 mt-4 mt-sm-0">
                                                    <label>Numero de lote</label>
                                                    {% comment %} <input class="multisteps-form__input form-control "  type="text" placeholder="código interno" required/> {% endcomment %}
                                                    </div>
                
                                                    <div class="col-12 col-sm-6">
                                                    <label for="numero_producto">{{equipo.numero_producto}}</label>
                                                    {% comment %} <input id ="numero_producto" class="multisteps-form__input form-control" type="text" placeholder="Lote del producto"/> {% endcomment %}
                                                    </div>
                                                </div>
                                                <div class="form-row mt-2">
                                                    <div class="col-12 col-sm-4 mt-4 mt-sm-0">
                                                    <label>Referencia</label>
                                                    {% comment %} <input class="multisteps-form__input form-control "  type="text" placeholder="código interno" required/> {% endcomment %}
                                                    </div>
                
                                                    <div class="col-12 col-sm-6">
                                                        <label for="referencia_arnes">{{equipo.referencias_casco.referencia}}</label>
                                                    {% comment %} <input id ="numero_producto" class="multisteps-form__input form-control" type="text" placeholder="Lote del producto"/> {% endcomment %}
                                                    </div>
                                                    <div class="col-12 col-sm-4 mt-4 mt-sm-0">
                                                        <label>Despcripción</label>
                                                        {% comment %} <input class="multisteps-form__input form-control "  type="text" placeholder="código interno" required/> {% endcomment %}
                                                        </div>
                    
                                                        <div class="col-12 col-sm-6">
                                                            <label for="descripcion">{{equipo.referencias_casco.descripcion}}</label>
                                                        {% comment %} <input id ="numero_producto" class="multisteps-form__input form-control" type="text" placeholder="Lote del producto"/> {% endcomment %}
                                                        </div>
                                                    <div class="col-12 col-sm-4 mt-4 mt-sm-0">
                                                        <label>Tipo</label>
                                                        {% comment %} <input class="multisteps-form__input form-control "  type="text" placeholder="código interno" required/> {% endcomment %}
                                                        </div>
                    
                                                        <div class="col-12 col-sm-6">
                                                            <label for="linea">{{equipo.referencias_casco.tipo}}</label>
                                                        {% comment %} <input id ="numero_producto" class="multisteps-form__input form-control" type="text" placeholder="Lote del producto"/> {% endcomment %}
                                                        </div>

                                                    <div class="col-12 col-sm-4 mt-4 mt-sm-0">
                                                        <label>Clase</label>
                                                        {% comment %} <input class="multisteps-form__input form-control "  type="text" placeholder="código interno" required/> {% endcomment %}
                                                        </div>
                    
                                                        <div class="col-12 col-sm-6">
                                                            <label for="linea">{{equipo.referencias_casco.clase}}</label>
                                                        {% comment %} <input id ="numero_producto" class="multisteps-form__input form-control" type="text" placeholder="Lote del producto"/> {% endcomment %}
                                                        </div>
                                                    
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        
                                        {% comment %} <input class="multisteps-form__input form-control" type="text" placeholder="fecha"/> {% endcomment %}
                                    
                                    </div>
                                    
                                    <div class="button-row d-flex mt-4 col-12">
                                        <button class="btn btn-dark" type="button" onClick="window.history.back();return false;" title="Prev">Anterior</button>
                                        <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Siguiente</button>
                                    </div>
                                </div>
                            </div>
                            <!--single form panel-->
                            <div class="multisteps-form__panel shadow p-3 rounded bg-white" data-animation="fadeIn">
                                <h4 class="multisteps-form__title">Parte: Casquete</h4>
                                <h6 class="multisteps-form__title">Aspectos a Inspeccionar</h6>
                                <div class="multisteps-form__content">
                                {% comment %} Lista de checkbox {% endcomment %}
                                    <ul class="list-group list-group-flush">
                                        
                                        <li class="list-group-item">
                                        <!-- Default checked -->
                                            
                                            {{ form.fisuras_golpes_hundimientos_casquete.label_tag|add:'class="col-md-5 col-12  text-center text-sm-left""'}}
                                            <div class="d-md-inline-block text-center">
                                            {% for radio in form.fisuras_golpes_hundimientos_casquete %}
                                    
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    {% comment %} {{ radio }} {% endcomment %}
                                                    {{ radio|add:'class="custom-radio"' }}
                                                    
                                                    
                                                </div>
                                            {% endfor %}
                                            </div>
                                            
                                            
                                            {{ form.fisuras_golpes_hundimientos_casquete_observacion|add:'class="multisteps-form__textarea form-control" placeholder="Observación"' }}
                                            {% comment %} <textarea class="multisteps-form__textarea form-control" placeholder="Observación"></textarea> {% endcomment %}

                                        </li>

                                        <li class="list-group-item">
                                        <!-- Default checked -->
                                            {{ form.quemaduras_deteriorquimicos.label_tag|add:'class="col-md-5 col-12  text-center text-sm-left""'}}
                                            <div class="d-md-inline-block text-center">
                                            {% for radio in form.quemaduras_deteriorquimicos %}
                                    
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    {% comment %} {{ radio }} {% endcomment %}
                                                    {{ radio|add:'class="custom-radio"' }}
                                                    
                                                    
                                                </div>
                                            {% endfor %}
                                            </div>
                                            {{ form.quemaduras_deteriorquimicos_observacion|add:'class="multisteps-form__textarea form-control" placeholder="Observación"' }}
                                            {% comment %} <textarea class="multisteps-form__textarea form-control" placeholder="Observación"></textarea> {% endcomment %}

                                        </li>
                                        <li class="list-group-item">
                                        <!-- Default checked -->
                                            {{ form.rayadura_decoloracion.label_tag|add:'class="col-md-5 col-12  text-center text-sm-left""'}}
                                            <div class="d-md-inline-block text-center">
                                            {% for radio in form.rayadura_decoloracion %}
                                    
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    {% comment %} {{ radio }} {% endcomment %}
                                                    {{ radio|add:'class="custom-radio"' }}
                                                    
                                                    
                                                </div>
                                            {% endfor %}
                                            </div>
                                            
                                            {{ form.rayadura_decoloracion_observacion|add:'class="multisteps-form__textarea form-control" placeholder="Observación"' }}
                                            {% comment %} <textarea class="multisteps-form__textarea form-control" placeholder="Observación"></textarea> {% endcomment %}

                                        </li>
                                        <li class="list-group-item">
                                        <!-- Default checked -->
                                            
                                            {{ form.otros_casquete.label_tag|add:'class="col-md-5 col-12  text-center text-sm-left""'}}
                                            <div class="d-md-inline-block text-center">
                                            {% for radio in form.otros_casquete %}
                                    
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    {% comment %} {{ radio }} {% endcomment %}
                                                    {{ radio|add:'class="custom-radio"' }}
                                                    
                                                    
                                                </div>
                                            {% endfor %}
                                            </div>
                                            {{ form.otros_casquete_observacion|add:'class="multisteps-form__textarea form-control" placeholder="Observación"' }}
                                            {% comment %} <textarea class="multisteps-form__textarea form-control" placeholder="Observación"></textarea> {% endcomment %}

                                        </li>

                                    </ul>
                                    
                                <div class="form-row mt-4">
                                    <div class="col">
                                       
                                        {{ form.imagen_casco_casquete.label_tag|add:'class="form-label"'}}
                                        {{ form.imagen_casco_casquete|add:'class="form-control "' }}
                                        
                                    {% comment %} <label class="form-label" for="foto-cintas">Subir una foto de la cintas/ reatas del equipo</label>
                                    <input type="file" class="form-control" id="foto-cintas" lang="es"/> {% endcomment %}
                                    </div>
                                </div>
                                
                                <div class="button-row d-flex mt-4">
                                    <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Anterior</button>
                                    <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Siguiente</button>
                                </div>
                                </div>
                            </div>
                            <!--single form panel-->
                            <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="fadeIn">
                                <h4 class="multisteps-form__title">Parte: Suspencion</h4>
                                <div class="multisteps-form__content">
                                
                                    <ul class="list-group list-group-flush">
                                        
                                        <li class="list-group-item">
                                        <!-- checkbox -->
                                            {{ form.completo_suspencion.label_tag|add:'class="col-md-5 col-12  text-center text-sm-left""'}}
                                           
                                            <div class="d-md-inline-block text-center">
                                            {% for radio in form.completo_suspencion %}
                                                
                                                <div class="custom-control custom-radio custom-control-inline ">
                                                    {% comment %} {{ radio }} {% endcomment %}
                                                    {{ radio|add:'class="custom-radio"' }}
                                                    
                                                    
                                                </div>
                                            {% endfor %}
                                            </div>
                                            {{ form.completo_suspencion_observacion|add:'class="multisteps-form__textarea form-control" placeholder="Observación"' }}

                                        </li>

                                        <li class="list-group-item">
                                        <!-- checkbox -->
                                            {{ form.fisuras_golpes_hundimientos_suspencion.label_tag|add:'class="col-md-5 col-12  text-center text-sm-left"'}}
                                            <div class="d-md-inline-block text-center">
                                            {% for radio in form.fisuras_golpes_hundimientos_suspencion %}

                                                <div class="custom-control custom-radio custom-control-inline">
                                                    {% comment %} {{ radio }} {% endcomment %}
                                                    {{ radio|add:'class="custom-radio"' }}
                                                    
                                                    
                                                </div>
                                            {% endfor %}
                                            </div>
                                            {{ form.fisuras_golpes_hundimientos_suspencion_observacion|add:'class="multisteps-form__textarea form-control" placeholder="Observación"' }}

                                        </li>

                                        <li class="list-group-item">
                                        <!-- checkbox -->
                                            {{ form.torsion_estiramiento.label_tag|add:'class="col-md-5 col-12  text-center text-sm-left""'}}
                                            <div class="d-md-inline-block text-center">
                                            {% for radio in form.torsion_estiramiento %}
                                    
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    {% comment %} {{ radio }} {% endcomment %}
                                                    {{ radio|add:'class="custom-radio"' }}
                                                    
                                                    
                                                </div>
                                            {% endfor %}
                                            </div>
                                            {{ form.torsion_estiramiento_observacion|add:'class="multisteps-form__textarea form-control" placeholder="Observación"' }}

                                        </li>

                                        <li class="list-group-item">
                                        <!-- checkbox -->
                                            {{ form.otros_suspencion.label_tag|add:'class="col-md-5 col-12  text-center text-sm-left"'}}
                                            <div class="d-md-inline-block text-center">
                                            {% for radio in form.otros_suspencion %}
                                    
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    {% comment %} {{ radio }} {% endcomment %}
                                                    {{ radio|add:'class="custom-radio"' }}
                                                    
                                                    
                                                </div>
                                            {% endfor %}
                                            </div>
                                            {{ form.otros_suspencion_observacion|add:'class="multisteps-form__textarea form-control" placeholder="Observación"' }}

                                        </li>

                                    </ul>
                                <div class="form-row mt-4">
                                    <div class="col">
                                        {{ form.imagen_casco_casquete.label_tag|add:'class="form-label"'}}
                                        {{ form.imagen_casco_casquete|add:'class="form-control"' }}
                                    </div>
                                </div>

                                
                                <div class="row">
                                    <div class="button-row d-flex mt-4 col-12">
                                    <button class="btn btn-primary js-btn-prev" type="button" id ="btn-cintas-anterior" title="Prev">Anterior</button>
                                    <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Siguiente</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <!--single form panel-->
                            <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="fadeIn">
                                <h3 class="multisteps-form__title">Parte: Barbuquejo</h3>
                                <div class="multisteps-form__content">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <!-- checkbox -->
                                            {{ form.completo_barbuquejo.label_tag|add:'class="col-md-5 col-12  text-center text-sm-left"'}}
                                            <div class="d-md-inline-block text-center">
                                            {% for radio in form.completo_barbuquejo %}
                                    
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    {% comment %} {{ radio }} {% endcomment %}
                                                    {{ radio|add:'class="custom-radio"' }}
                                                    
                                                    
                                                </div>
                                            {% endfor %}
                                            </div>
                                           
                                            {{ form.completo_barbuquejo_observacion|add:'class="multisteps-form__textarea form-control" placeholder="Observación"' }}

                                    </li>
                                    <li class="list-group-item">
                                        <!-- checkbox -->
                                            {{ form.cinta_deshilachada_rotas.label_tag|add:'class="col-md-5 col-12  text-center text-sm-left"'}}
                                            <div class="d-md-inline-block text-center">
                                            {% for radio in form.cinta_deshilachada_rotas %}
                                    
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    {% comment %} {{ radio }} {% endcomment %}
                                                    {{ radio|add:'class="custom-radio"' }}
                                                    
                                                    
                                                </div>
                                            {% endfor %}
                                            </div>
                                           
                                            
                                            {{ form.cinta_deshilachada_rotas_observacion|add:'class="multisteps-form__textarea form-control" placeholder="Observación"' }}

                                    </li>

                                    <li class="list-group-item">
                                        <!-- checkbox -->
                                            {{ form.salpicadura_pintura_rigidez_cinta.label_tag|add:'class="col-md-5 col-12  text-center text-sm-left"'}}
                                            <div class="d-md-inline-block text-center">
                                            {% for radio in form.salpicadura_pintura_rigidez_cinta %}
                                    
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    {% comment %} {{ radio }} {% endcomment %}
                                                    {{ radio|add:'class="custom-radio"' }}
                                                    
                                                    
                                                </div>
                                            {% endfor %}
                                            </div>
                                           
                                            
                                            {{ form.salpicadura_pintura_rigidez_cinta_observacion|add:'class="multisteps-form__textarea form-control" placeholder="Observación"' }}

                                    </li>

                                    <li class="list-group-item">
                                        <!-- checkbox -->
                                            {{ form.otros_barbuquejo.label_tag|add:'class="col-md-5 col-12  text-center text-sm-left"'}}
                                            <div class="d-md-inline-block text-center">
                                            {% for radio in form.otros_barbuquejo %}
                                    
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    {% comment %} {{ radio }} {% endcomment %}
                                                    {{ radio|add:'class="custom-radio"' }}
                                                    
                                                    
                                                </div>
                                            {% endfor %}
                                           
                                            </div>
                                            {{ form.otros_barbuquejo_observacion|add:'class="multisteps-form__textarea form-control" placeholder="Observación"' }}

                                    </li>

                                    
                                </ul>
                                <div class="form-row mt-4">
                                    <div class="col">
                                        {{ form.imagen_casco_barbuquejo.label_tag|add:'class="form-label"'}}
                                        {{ form.imagen_casco_barbuquejo|add:'class="form-control"' }}
                                    </div>
                                </div>

                                <div class="form-row mt-4">
                                
                                        {{ form.fecha_proxima_inspeccion.label_tag|add:'class="form-label"'}}
                                        {{ form.fecha_proxima_inspeccion|add:'class="form-control"' }}
                                        
                                    
                                </div>
                                
                                <div class="form-row mt-4">
                                    
                                    {{ form.comentarios_adicionales|add:'class="multisteps-form__textarea form-control" placeholder="Comentarios adicionales"' }}

                                </div>
                                <div class="form-row mt-4">


                                
                                    {% comment %} radio select custom {% endcomment %}
                                    {% for radio in form.veredicto %}
                                    
                                        <div class="custom-control custom-radio custom-control-inline">
                                            {% comment %} {{ radio }} {% endcomment %}
                                            {{ radio|add:'class="custom-radio"' }}
                                            
                                            
                                        </div>
                                    {% endfor %}
                                    
                                    {% comment %} <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input radio-apto" id="customRadio" name="example" value="customEx">
                                        <label class="custom-control-label" for="customRadio">Apto y puede continuar</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="customRadio2" name="example" value="customEx">
                                        <label class="custom-control-label" for="customRadio2">No apto y debe ser retirado</label>
                                    </div> {% endcomment %}
                                    
                                </div>
                                <div class="button-row d-sm-flex mt-4 ">
                                    <button class="btn btn-primary button-before btn-sm js-btn-prev mt-2 " href="#btn-cintas-anterior" type="button" title="Prev">Anterior</button>
                                    <button class="btn btn-success btn-sm ml-auto mt-2" type="submit" title="Send">Enviar ficha de inspección</button>
                                </div>
                                
                                </div>
                            </div>
                        
                        </form>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <!-- partial -->


                        

                        
            </div>

{% endblock %}

{% block scripts %} 
    <script type="text/javascript" src="{% static 'gestion_fichas/js/agregar_ficha_2.js' %}"></script>
{% endblock %}