{% extends 'gestion_fichas/base.html' %}

{% load static %}

{% block title %}
Hello World

{% endblock %}
{% comment %} <link href="{% static 'gestion_fichas/css/profile.css' %}" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> {% endcomment %}


{% block css_style %}

    <!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <link href="{% static 'gestion_fichas/css/profile.css' %}" rel="stylesheet">

{% endblock %}


{% block content_main %}


<div class="content-main">
            
    <div class="card-body">

        <h1 class="card-subtitle ">Cambiar contraseña de usuario inspector</h1>
        <p> Elige una contraseña segura. </p>

        {% for message in messages %}

                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                            </div>
                        
                        {% else %}
                           
                            <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                            </div>
                       
                        {% endif %}
                       
                    
        {% endfor %}
        <div class="line"></div>
        
        <div class="container" align="center">
            <div class="col-sm-5" id="password" align="left">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                        {% csrf_token %}
                        {{ form }}           
                        <button type="submit" class="btn btn-success">Cambiar contraseña</button>
                        <a class = "pl-0 m-0" href="{% url 'profile' %}"><button type="button" class="btn btn-dark">Atras</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

       
{% endblock %}