
{% extends 'gestion_fichas/base.html' %}
{% load  static %}

{% load myfilters %}

{% block title %}
Hello World

{% endblock %}

{% block content_main%}


<div class="content-main">
          
            <h1>Crear la hoja de vida de un equipo</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            
            <div class="line"></div>

                {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                            </div>
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}

                            <div class="alert alert-info alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                            </div>
                        {% else %}
                           
                            <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                            </div>
                       
                        {% endif %}
                        
                    
                {% endfor %}

                <div class="card">
                    <div class="card-body">

                        <h4 class="card-subtitle">Creación hoja de vida del producto</h4>
                        {% comment %} <h5 class="card-subtitle">made with bootstrap elements</h5> {% endcomment %}
                        <form class="form pt-3" method = "POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Seleccione el equipo de altura</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon11"><img class="icon-sidebar " src = "{% static 'gestion_fichas/img/icons/icon_height_equipment.png' %}" alt =""></img> </span>
                                    </div>
                                    {{ form.equipo_alturas|add:'class="form-control" placeholder="Selección de equipo"' }}
                                </div>
                            </div>   
                            <div class="form-group">
                                <label>Lote de fabricación</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon11"><img class="icon-sidebar " src = "{% static 'gestion_fichas/img/icons/icon_hv.svg' %}" alt =""></img> </span>
                                    </div>
                                    {{ form.numero_producto|add:'class="form-control" placeholder="Número del producto"' }}
                                    

                            {% comment %} {{ form.username|addclass:'form-control'|placeholder:'username'|addautofocus:'autofocus'}} {% endcomment %}
                                   

                                    {% comment %} <input type="text" class="form-control" placeholder="Número del producto" aria-label="Número del producto" aria-describedby="basic-addon11"> {% endcomment %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Número de equipos a agregar</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon11"><img class="icon-sidebar " src = "{% static 'gestion_fichas/img/icons/icon_plus.png' %}" alt =""></img> </span>
                                    </div>
                                    {% comment %} {{ form.numero_producto|add:'class="form-control" placeholder="Número del producto"' }} {% endcomment %}
                                    {% comment %} <input type="text" class="form-control" placeholder="Número del producto" aria-label="Número del producto" aria-describedby="basic-addon11"> {% endcomment %}

                                    {% comment %} {{ form.cantidad_productos_agregar|addclass:'"form-control'|placeholder:'Productos a adicionar'}} {% endcomment %}
                                    {{ form.cantidad_productos_agregar|add:'class="form-control" placeholder="Productos a agregar"' }}

                                    {% comment %} <input type="text" class="form-control" placeholder="Número del producto" aria-label="Número del producto" aria-describedby="basic-addon11"> {% endcomment %}
                                </div>
                            </div>
                            

                            <div class="form-group">
                                <label>Código interno</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon33"><img class="icon-sidebar " src = "{% static 'gestion_fichas/img/icons/icon_pin.png' %}" alt =""></img></span>
                                    </div>
                                    {{ form.codigo_interno|add:'class="form-control" placeholder="Código interno del producto inicial"' }}
                                    
                                    {% comment %} <input type="text" class="form-control" placeholder="Código interno" aria-label="Password" aria-describedby="basic-addon33"> {% endcomment %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Fecha de puesta en marcha</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon4"><img class="icon-sidebar " src = "{% static 'gestion_fichas/img/icons/icon_calendar.png' %}" alt =""></img></i></span>
                                    </div>
                                    {{ form.fecha_puesta_en_uso|add:'class="form-control" placeholder="Fecha puesta en uso"' }}
                                    
                                    {% comment %} <input type="date" class="form-control" placeholder="Confirm Password" aria-label="Password" aria-describedby="basic-addon4"> {% endcomment %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label  for="exampleInputEmail1">Personal</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon22"><img class="icon-sidebar " src = "{% static 'gestion_fichas/img/icons/icon_personal.png' %}" alt =""></img> </span>
                                    </div>
                                    {{ form.personal_a_cargo|add:'class="form-control" placeholder="Personal a cargo del equipo"' }}
                            
                                    {% comment %} <input  class="form-control" placeholder="Personal" aria-label="Email" aria-describedby="basic-addon22"> {% endcomment %}
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label  for="exampleInputEmail1">Empresa</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon22"><img class="icon-sidebar " src = "{% static 'gestion_fichas/img/icons/icon_personal.png' %}" alt =""></img> </span>
                                    </div>
                                    {{ form.empresa|add:'class="form-control" placeholder="Empresa a la que pertenece"' }}
                            
                                    {% comment %} <input  class="form-control" placeholder="Personal" aria-label="Email" aria-describedby="basic-addon22"> {% endcomment %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label  for="exampleInputEmail1">Correo</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon22"><img class="icon-sidebar " src = "{% static 'gestion_fichas/img/icons/icon_personal.png' %}" alt =""></img> </span>
                                    </div>
                                    {{ form.correo|add:'class="form-control" placeholder="Correo de contacto"' }}
                            
                                    {% comment %} <input  class="form-control" placeholder="Personal" aria-label="Email" aria-describedby="basic-addon22"> {% endcomment %}
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label  for="exampleInputEmail1">Teléfono</label>
                                <div class="input-group mb-3">
                                    
                                    <div class="input-group-prepend">
                                        
                                        <span class="input-group-text" id="basic-addon22"><img class="icon-sidebar " src = "{% static 'gestion_fichas/img/icons/icon_personal.png' %}" alt =""></img> </span>
                                   
                                    </div>
                                   
                                    {{ form.telefono|add:'class="form-control" placeholder="Teléfono de contacto"' }}
                            
                                    {% comment %} <input  class="form-control" placeholder="Personal" aria-label="Email" aria-describedby="basic-addon22"> {% endcomment %}
                                </div>
                            </div>

                            
                            {% comment %} <div class="form-group">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="checkbox10" value="check">
                                    <label class="custom-control-label" for="checkbox10">Remember Me</label>
                                </div>
                            </div> {% endcomment %}
                            {% comment %} <a href="{{ MEDIA_URL }}Referencias/PDF/MV-FT-007-_50-12.pdf" >{{ MEDIA_URL }}</a> {% endcomment %}

                            
                            <div class="text-center">


                                    <button type="reset" class="btn btn-dark col-sm-12 col-md-5 mt-2">Cancelar</button>
                                    {% comment %} <button type="submit" class="btn btn-success mr-2">Crear</button> {% endcomment %}
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-success col-sm-12 col-md-6 mt-2" data-toggle="modal" data-target="#exampleModalCenter">
                                    Crear hoja de vida
                                    </button>
                                    
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">INFO</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                    ¿Desea confirmar la creación de la hoja de vida? 
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-success mr-2">Si, crear </button>
                                    </div>
                                    </div>
                                </div>
                                
                            </div>
                        <!-- Modal -->
                            
                        </form>
                        

                    </div>
                    
            </div>
                                  

            
            
</div>
{% endblock %}