{% extends 'gestion_fichas/base.html' %}

{% load static %}
{% load myfilters %}

{% block title %}
Hello World

{% endblock %}
{% block css_style %}

    <link href="{% static 'gestion_fichas/css/hoja_de_vida_equipo.css' %}" rel="stylesheet">
    
    {% comment %} <link href="{% static 'gestion_fichas/css/empty_state.css' %}" rel="stylesheet"> {% endcomment %}
    <script type="text/javascript" src="{% static 'gestion_fichas/js/image_zoom.js' %}"></script>


{% endblock %}
{% block content_main%}

<div class="content-main ">
    
    <h1>Hoja de vida del equipo</h1>
    {% comment %} <p>Digite el numero del equipo para buscar su hoja de vida</p> {% endcomment %}
    
    {% for message in messages %}
                       
                        <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                        </div>
                    
    {% endfor %}

    {% comment %} <form  method="POST" class="form col-sm-12 col-md-12 col-lg-6 pl-0">
                
        {% csrf_token %}
            
        <div class="form-group">
                    <label>Seleccione el equipo de altura</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon11"><img class="icon-sidebar " src = "{% static 'gestion_fichas/img/icons/icon_height_equipment.png' %}" alt =""></img> </span>
                        </div>
                        {{ form.equipo_alturas|add:'class="form-control" placeholder="Selección de equipo"' }}
                    </div>
                </div>   
        <div class="form-group ">
            
            
            <label>Buscar Equipo</label>
            <div class="input-group ">
                
                
                <div class="input-group-prepend">
                
                    <button type = "submit" class="btn" id="basic-addon11"><img src="{% static 'gestion_fichas/img/icon_search.svg' %}" alt="" class="ti-user search-icon"></button>
                    
                </div> 
            
                {{ form.numero_producto|add:'class="form-control" placeholder="Número de lote"' }}
            

            </div>
            
        </div>
                
    </form> {% endcomment %}

    <div class="line"></div>
    {% if equipo %}

    <div class= "col d-flex justify-content-center"> 
    
        

        {% if equipo.veredicto %}   
            {% if warning_inspeccion %}
            <div class="card border-warning text-white text-center mb-3 " style="max-width: 30rem;">
                <div class="card-header bg-warning">{{equipo.numero_producto}}</div>
                
            {% else %}
                <div class="card border-success text-white text-center mb-3 " style="max-width: 30rem;">
                        <div class="card-header bg-success">{{equipo.numero_producto}}</div>
            {% endif %}
        {% else %}
            <div class="card border-danger text-white text-center mb-3 " style="max-width: 30rem;">
                    <div class="card-header bg-danger">{{equipo.numero_producto}}</div>
        {% endif %}
                    
                    <div id = "container-zoom" class="img-zoom-container">
                        
                         <img id="myimage" class="card-img-top" src="{{ MEDIA_URL }}{{referencia_arnes.referencia_imagen}}" alt="Card image cap" >
                    
                    </div>
                    <div id="myresult" class="img-zoom-result"></div>
                    <div class="card-body text-black mb-0 pb-0">
                        
                        <p class="card-text card-description">{{referencia_arnes.descripcion}}</p>
                    </div>
                    {% if user.is_authenticated %}
                        {% if equipo_alturas == '1' %}
                        <a  href = {% url 'agregar_inspeccion' equipo.id %} class="btn btn-color btn-primary m-1">Realizar Inspección</a>
                        {% elif equipo_alturas == '2' %}
                        <a  href = {% url 'agregar_inspeccion_eslinga' equipo.id %} class="btn btn-color btn-primary m-1">Realizar Inspección</a>
                        {% elif equipo_alturas == '3' %}
                        <a  href = {% url 'agregar_inspeccion_lineas' equipo.id %} class="btn btn-color btn-primary m-1">Realizar Inspección</a>
                        {% elif equipo_alturas == '4' %}
                        <a  href = {% url 'agregar_inspeccion_casco' equipo.id %} class="btn btn-color btn-primary m-1">Realizar Inspección</a>
                        {% elif equipo_alturas == '5' %}
                        <a  href = {% url 'agregar_inspeccion_accesorio' equipo.id %} class="btn btn-color btn-primary m-1">Realizar Inspección</a>
                        {% elif equipo_alturas == '6' %}
                        <a  href = {% url 'agregar_inspeccion_silla' equipo.id %} class="btn btn-color btn-primary m-1">Realizar Inspección</a>
                        {% endif %}
                    {% endif %}
                    <ul class="list-group  list-group-flush ">
                        <li class="list-group-item  text-left"><span> Referencia: </span><a id = "a-link" href="{{ MEDIA_URL }}{{referencia_arnes.pdf}}" >{{referencia_arnes.referencia}}</a> </li>
                       
                        <li class="list-group-item  text-left"><span> Fecha puesta en marcha:</span> {{equipo.fecha_puesta_en_uso}}</li>
                        <li class="list-group-item  text-left"><span> Personal a cargo: </span>{{equipo.personal_a_cargo}}</li>
                        <li class="list-group-item  text-left"><span> Código interno: </span>{{equipo.codigo_interno}}</li>
                        <li class="list-group-item  text-left"><span> Número de inspecciones: </span>{{numero_inspecciones}}</li>
                        
                        <!--group collaps-->
                        
                        <!--end group-->
                        <li class="list-group-item  text-left"><div class="text-center"> <a class = "pl-0 m-0" href="{% url 'reporte_ficha_pdf' equipo.id 0 0 equipo_alturas False%}" class="btn">
                        <img class="icon-bigger pl-7"  src = "{% static 'gestion_fichas/img/icons/icon_pdf.png' %}" alt =""></img>
                        </a><div> 
                        </li>
                       
                        {% if equipo.veredicto %}  
                            {% if warning_inspeccion %}
                                <li class="list-group-item "> PENDIENTE DE INSPECCIÓN </li>
                            {% else %}
                                <li class="list-group-item "> APTO </li>
                            {% endif %}
                        {% else %}
                            
                            <li class="list-group-item "> NO APTO </li>

                        {% endif %}

                        
                        
                    </ul>
                    <div class="text-center pb-4 " >
                        
                        <a href="{{ MEDIA_URL }}{{equipo.codigo_qr}}">
                            <img id="myimage" class="card-img-bot " src="{{ MEDIA_URL }}{{equipo.codigo_qr}}" alt="Card image cap" >
                        </a>
                        
                    </div>

                    <li class="list-group-item ">
                        <div class="text-center">
                            <div class="dropdown">
                            <button class="btn-sm btn-info dropdown-toggle" type="button" data-toggle="dropdown">Inspecciones
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu"> 
                                {% for inspeccion in inspecciones %}
                                <li ><a href="{% url 'reporte_ficha_pdf' equipo.id 1 inspeccion.numero_inspeccion equipo_alturas False%}">{{inspeccion.numero_inspeccion}}-{{inspeccion.user|title}}: {{inspeccion.fecha_inspeccion|title}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                    </li>
                    <li class="list-group-item ">
                        <div class="text-center">
                            <div class="dropdown">
                            <button class="btn-sm btn-info dropdown-toggle" type="button" data-toggle="dropdown">Inspecciones con foto
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu"> 
                                {% for inspeccion in inspecciones %}
                                <li ><a href="{% url 'reporte_ficha_pdf' equipo.id 1 inspeccion.numero_inspeccion equipo_alturas True%}">{{inspeccion.numero_inspeccion}}-{{inspeccion.user|title}}: {{inspeccion.fecha_inspeccion|title}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                    </li>
                    
            </div>
            

    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %} 
<script>
    imageZoom("myimage", "myresult");
</script>
{% endblock %}



