<!DOCTYPE html> 
<html lang="en">
    <head>

        <title>

            {% block title %} {% endblock %}
            
        </title>
        <meta http-equiv='cache-control' content='no-cache'>
        <meta http-equiv='expires' content='0'>
        <meta http-equiv='pragma' content='no-cache'>

    </head>

    <body>

        <div>{% include "gestion_fichas/TOP/header.html" %}</div>
        
        
        <div>
        {% block content %}
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        </div>

        {% endblock %}
        </div>

        


    </body>


</html>